:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #ececec;
    --text-secondary: hsl(0, 0%, 60%);
    --text-third: hsl(214, 100%, 75%);
    --bg-primary: rgb(20, 21, 23);
    --bg-secondary: rgb(26, 27, 30);
    --bg-third: #C62368;
    /* --bg-third: #59057B; */
}

main {
    background-color: var(--bg-primary);
}

section {
    max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
    padding: 1rem;
    position: relative;
}

a {
    color: var(--text-third);
}

.blurb {
    margin-bottom: 1rem;
}

.bg-secondary {
    background-color: var(--bg-secondary);
    width: 100%;
}

.bg-third {
    background-color: var(--bg-third);
    width: 100%;
}

header {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.text-bigger {
    font-size: 1.5rem;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url("./../content/layer1.svg");
}

h2 {
    font-size: 3rem;
    font-weight: 300;
}

header div {
    margin-top: 2rem;
    max-width: 500px;
    font-size: 1.5rem;
}

header div p {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--text-third);
}

.transition-wave {
    position: relative;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.transition-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.transition-wave .shape-fill2 {
    fill: var(--bg-secondary);
}

.transition-wave .shape-fill1 {
    fill: var(--bg-primary);
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary); /* Text color */
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
}

p, li {
    color: var(--text-secondary);
}

footer {
    text-align: center;
    margin-top: 3rem;
}

nav {
    height: 5.25rem;
    position: relative;
    background-color: var(--bg-secondary);
    z-index: 100;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(44, 46, 51);
	margin-bottom: 120px;
}

nav .logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-secondary);
	text-decoration: none;
	gap: 16px;
}

nav .nav-area {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.nav-area .links {
	padding-top: 20px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.links .nav-secondary {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-end;
	gap: 16px;
}

.nav-secondary .link {
	text-decoration: none;
	color: rgb(144, 146, 150);
	font-size: 0.75rem;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

.nav-secondary .link:hover {
	color: var(--text-primary);
    text-decoration: underline;
}

.links .nav-primary {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-end;
	margin-right: -12px;
}

.nav-primary .link {
    transition: all 0.2s ease;
    color: var(--text-secondary);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-style: none none solid;
    border-color: currentcolor currentcolor transparent;
}

.nav-primary .current {
    border-color: currentcolor currentcolor rgb(51, 154, 240);
    color: var(--text-primary);
}
.nav-primary .link:hover {
    color: var(--text-primary);
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    nav .nav-area {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav .nav-area .links {
        align-items: center;
    }
    nav .nav-area .links .nav-primary {
        margin-right: 0;
    }

    nav .logo {
        display: none;
    }

    .transition-wave svg {
        width: 1000px;
    }

    .spacer {
        width: 1000px;
    }
}